@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');


header img {
    margin: 10px;
}

main img {
    height: 10em;
}

.bg-dark {
    background-color: #111 !important;
}

.bg-white {
    background-color: #efefff !important;
}

.no-underline, .no-underline:hover, .decoration, .decoration:hover {
text-decoration: none;
}

.cursive{
    font-family: 'Abril Fatface', cursive;
}

.navicon {
    height: 38px;
}

.text-primary {
    color: #18a1f5 !important;
}

.double-border {
    border-style: double;
    border-width: 13px;
}

#spin {
    background-color: #18a1f5;
    padding: 5px;
    border: 5px solid #fff;
}

  #spin:after {
    content:"";
    animation: spin 9s linear infinite;
  }
  @keyframes spin {
    0% { content:"Trabalhista"; }
    25% { content:"Cível"; }
    50% { content:"Inventário"; }
    75% { content:"Criminal"; }
  }