@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

head, html, body {
    scrollbar-color: #284589 #000;
  }

body {
    overflow-x: hidden;
}


main img {
    height: 10em;
}

.font-adjust, .font-adjust * {
    font-size: 1.4rem !important;
}

.bg-dark {
    background-color: #111 !important;
}

.bg-primary {
    background-color: #284589 !important;
}

.bg-white {
    background-color: #efefff !important;
}

.no-underline, .no-underline:hover, .decoration, .decoration:hover {
text-decoration: none !important;
}

.cursive{
    font-family: 'Abril Fatface', cursive;
}

.navicon {
    height: 38px;
}

.text-primary {
    color: #18a1f5 !important;
}

.double-border {
    border-style: double;
    border-width: 13px;
}

.cover-text {
    text-shadow: 0px 0px 10px #000;
}

.background {
    /* height: 99vh;
    max-height: 99vh;; */
    background-image: url(src/bg.jpg);
    background-position: center center !important;
    background-repeat: no-repeat;
    background-size: cover !important;
    max-height: 99vh !important;
}

.show {
    display: none;
}

.text-bg {
    font-size: 2.3rem; 
    margin: 28vh 0px 0px 120px;
}

@media only screen and (max-width: 768px) {

    .background {
        background-image: url(src/bg-small.png);
    }
    .rip {
        display: none !important;
    }

    .show {
        display: block;
    }

    .double-border {
        border: none;
    }
    .gmaps {
        height: 60vh !important;
    }
    header {
    margin: 0px !important;
    padding: 0px !important;

    }
    header {
        --bs-gutter-x: 0rem !important;
        margin: 0px !important;
        padding: 0px;
    }

    .logo-mobile {
        margin-right: auto !important;
        margin-left: auto !important;
    }

.text-bg {
    margin: 28vh 0px 0px 0px !important;
    text-align: center !important;
}

    }

.contact-items *{
height: 5em;
}

#spin {
    border-bottom: 5px solid #18a1f5;
}

  #spin:after {
    content:"Trabalhista";
    animation: spin 8s linear infinite;
  }
  @keyframes spin {
    0% { content:"Trabalhista"; }
    33% { content:"Cível"; }
    66% { content:"Criminal"; }
  }